@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Inconsolata:wght@200;300;400&family=Inter&family=Montserrat:wght@100;400&family=Outfit:wght@300;400;600&display=swap');

* {
    text-transform: uppercase;
    font-family: Barlow Condensed;
}

body {
    background-image: url('../assets/crew/background-crew-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

header {
    margin-top: 40px;
    margin-left: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 1110PX;
}

.page-name {

    color: white;
    margin-top: 212px;
    margin-left: 150px;

    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
}

.number {
    display: inline;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.office {
    font-family: 'Bellefair';
    color: #FFFFFF;
    font-size: 32px;
    line-height: 37px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.name {
    font-family: 'Bellefair';
    color: #FFFFFF;
    display: inline;
    font-size: 56px;
    line-height: 64px;
}

.bio {
    width: 444px;
    text-transform: none;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.menu-crew {
    margin-top: 100px;
    display: flex;
}

.menu-crew ul {
    width: 100%;
    padding: 0;
}

.menu-crew li {
    display: inline;
    padding-right: 24px;
}

.menu-crew a {
    display: inline-block;
    border-radius: 50%;
    width: 15px;

    height: 15px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.17;

}

.menu-crew a:hover {
    background-color: white;
    opacity: unset;
}

/*tablet responsive*/

@media screen and (min-width:768px) and (max-width:1023px) {
    body{
        background-image: url('../assets/crew/background-crew-tablet.jpg');
    }

    .container {
        width: 573px;
        height: 1024px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 28px 46px 84px 10px 572px;
        gap: 39px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "office"
            "name"
            "bio"
            "menu-crew"
            "photo";
    }

    .page-name {
        margin-left: 38.5px;
        margin-top: 40px;
    }

    .team-information {
        text-align: center;
    }

    .office {
        grid-area: office;
        font-size: 24px;
        line-height: 28px;
    }

    .name {
        grid-area: name;
        font-size: 40px;
        line-height: 46px;
    }

    .bio {
        grid-area: bio;
        font-size: 16px;
        line-height: 28px;
        height: 84px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-crew {
        margin-top: 40px;
        grid-area: menu-crew;
    }

    .photo {
        margin-top: 128px;
        margin-left: auto;
        margin-right: auto;
        grid-area: photo;
    }

    #photo-crew {
        width: 456.37px;
        height: 572px;
    }

}