@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Inconsolata:wght@200;300;400&family=Inter&family=Montserrat:wght@100;400&family=Outfit:wght@300;400;600&display=swap');

* {
	text-transform: uppercase;
	color: white;

}
body {
	background-image: url('../assets/destination/background-destination-desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 1440px;
	margin: auto;
}

header {
	margin-top: 40px;
	margin-left: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	margin-left: auto;
	margin-right: auto;
	width: 1110PX;
	height: 576px;
	display: flex;
	justify-content: space-between;
	margin-top: 90px;

}
hr{
	margin-top: 54px;
	background-color:  #383B4B;
}

#menu ul,
#menu li,
#menu-destiny  ul,
#menu-destiny  li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}

#menu ul,
#menu-destiny  ul {
	width: 100%;
}

#menu li,
#menu-destiny  li {
	float: left;
	display: inline;
	position: relative;
}

#menu a,
#menu-destiny  a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	font-size: 16px;
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}

#menu a:hover, #menu-destiny  a:hover {
	color: #d0d6f9;
	border-bottom: #8b8d92;
	border-bottom-style: solid;
	transition: 0.1s
}
#menu li a:active{
	border-bottom: white;
	border-bottom-style: solid;
}

#menu {
	font-family: 'Barlow Condensed';
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 2.7px;
	background: #ffffff48;
	backdrop-filter: blur(5px);
	width: 50%;
	display: flex;
	align-items: center;
	padding-left: 150px;
}

#menu-destiny {
	font-family: 'Barlow Condensed';
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 2.7px;
	color: #D0D6F9;
}

.name-destiny{
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 115px;
	margin-top: 71px;
	margin-bottom: 54px;
}

.description-planet{
	height: 128px;
	font-family: 'Barlow';
	font-size: 18px;
	line-height: 32px;
	text-transform: none;
}

.page-name {
	margin-top: 212px;
	margin-left: 150px;
	font-family: 'Barlow Condensed';
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 4.725px;
}

.information {
	width: 445px;
	height: 472px;
}

.number {
	display: inline;
	mix-blend-mode: normal;
	opacity: 0.25;
}

.distace-time{
	display: flex;
	justify-content: space-between;
}