@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

body {
	background-image: url('../assets/destination/background-destination-desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
}

header {
	margin-top: 40px;
	margin-left: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	justify-content: space-between;
	width: 85vw;
}

hr {
	margin-top: 54px;
	border-color: #383B4B;
	border-style: solid;
}

#menu-destiny ul,
#menu-destiny li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}

#menu-destiny ul {
	width: 100%;
}

#menu-destiny li {
	float: left;
	display: inline;
	position: relative;
}

#menu-destiny a {
	
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Barlow Condensed', sans-serif;
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}

#menu-destiny a:hover {
	color: #d0d6f9;
	border-bottom: #8b8d92;
	border-bottom-style: solid;
	transition: 0.1s;
	cursor: pointer;
}

#menu-destiny {
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 2.7px;

}

.name-destiny {
	font-family: 'Bellefair', serif;
	font-size: 100px;
	line-height: 115px;
	margin-top: 71px;
	margin-bottom: 54px;
}

.name-destiny,
#menu-destiny a {
	text-transform: uppercase;
	color: white;
}

.description-planet {
	color: #D0D6F9;
	font-size: 18px;
	line-height: 32px;
	font-family: 'Barlow', sans-serif;
}

.information {
	width: 445px;
}


.distance-time {
	color: #D0D6F9;
	display: flex;
	justify-content: space-between;
}

.distance p:nth-of-type(2),
.time p:nth-of-type(2) {
	color: white;
	font-family: 'Bellefair', serif;
	font-size: 28px;
	line-height: 32px;
	text-transform: uppercase;
}


/*tablet responsive*/

@media screen and (min-width:768px) and (max-width:1023px) {
	body {
		background-image: url('../assets/destination/background-destination-tablet.jpg');
	}

	.flex-container {
		margin: 0;
	}

	main {
		width: 100vw;
		display: grid;
		grid-template-columns: 100vw;
		grid-template-rows: 300px 34px 92px 84px 90px;
		gap: 52px 0px;
		grid-auto-flow: row;
		justify-items: center;
		grid-template-areas:
			"image"
			"menu"
			"name-destiny"
			"description-planet"
			"distance-time";
	}

	hr {
		margin-top: 0;
	}

	.information {
		text-align: center;
	}

	.name-destiny {
		grid-area: name-destiny;
		margin-bottom: 0;
		font-size: 80px;
		line-height: 92px;
		text-align: center;
	}

	.description-planet {
		grid-area: description-planet;
		font-size: 16px;
		line-height: 28px;
		text-align: center;
	}

	.page-name {
		margin-left: 38.5px;
		margin-top: 40px;
	}


	.logo {
		margin-left: 39px;
	}

	#menu-destiny {
		margin-left: 80px;
	}

	#planet {
		width: 300px;
	}
}

@media screen and (max-width: 767px) {

	body {
		background-image: url('../assets/destination/background-destination-mobile.jpg');
	}

	main {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: 32px;
		width: 327px;
	}

	.page-name {
		width: 221px;
		height: 19px;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 2.7px;
		margin: 0 auto;
	}
	
	.information{
		width: 327px;

	}

	#planet {
		width: 170px;
	}

	#menu-destiny {
		font-size: 14px;
		line-height: 17px;
		width: 300px;
		margin: auto;
	}

	.description-planet {
		font-size: 15px;
		line-height: 25px;
		width: 327px;
		margin: auto;
	}

	.name-destiny {
		font-size: 56px;
		line-height: 64px;
		margin-bottom: 0;
	}
	hr{
		margin-top: 32px;
	}
	.distance-time{
		flex-direction: column;
	}

}