@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Inconsolata:wght@200;300;400&family=Inter&family=Montserrat:wght@100;400&family=Outfit:wght@300;400;600&display=swap');

#menu {
	font-family: 'Barlow Condensed';
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 2.7px;
	background: rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(81.5485px);
	width: 720px;
	padding-left: 123px;
}

#btn-01:hover,#btn-02:hover,#btn-03:hover,#btn-04:hover{
	color: #d0d6f9;
	border-bottom: #8b8d92;
	border-bottom-style: solid;
	transition: 0.1s
}

#menu ul,
#menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;

}

#menu ul {
	width: 100%;
}

#menu li {
	float: left;
	display: inline;
	position: relative;
}

#menu a {
	margin-top: 25px;
	height: 70px;
	color: white;
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	font-size: 16px;
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}


@media screen and (min-width:768px) and (max-width:1023px) {
	#menu {
		width: 450px;
		height: 96px;
	}
}