@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed');

#menu {
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 2.7px;
	background: rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(81.5485px);
	width: 720px;
	padding-left: 123px;
}

#btn-01:hover,
#btn-02:hover,
#btn-03:hover,
#btn-04:hover {
	color: #d0d6f9;
	border-bottom: #8b8d92;
	border-bottom-style: solid;
	transition: 0.1s
}

#menu ul,
#menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;

}

#menu ul {
	width: 100%;
}

#menu li {
	float: left;
	display: inline;
	position: relative;
}

#menu a {
	height: 70px;
	color: white;
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	font-size: 16px;
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
}

#menu input {
	opacity: 0;
	cursor: pointer;
	zoom: 2;
}

#menu label {
	position: absolute;
}



#menu ul.sub-menus {
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	display: none;
}

#menu ul.sub-menus li {
	display: block;
	width: 100%;
}

#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}

#menu li:hover ul.sub-menus {
	display: block
}

#menu ul.sub-menus a:hover {
	background: #F2F2F2;
	color: #444444;
}

.page-name {
	margin-top: 212px;
	margin-left: 150px;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 4.725px;
}

.number {
	display: inline;
	mix-blend-mode: normal;
	opacity: 0.25;
}

.page-name,
.number,
#menu {
	font-family: 'Barlow Condensed', sans-serif;
	text-transform: uppercase;
	color: white;
}

@media screen and (min-width:768px) and (max-width:1023px) {
	#menu {
		width: 500px;
		height: 96px;
		padding-left: 48px;
	}
	#menu a {
		height: 58px;
	}

	.page-name {
		margin: 40px 0 0 40px;
	}
}

@media screen and (max-width: 767px) {

	.flex-container {
		margin: 25px 15px;
	}

	.page-name {
		margin: 24px auto;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 2.7px;
		width: 176px;
	}

	#menu label:before {
		font-size: 3.3em;
		content: "\2263";
	}


	#menu {
		position: relative;
		background: none;
		backdrop-filter: unset;
		width: 40px;
		height: 40px;
		padding-left: 0;
	}

	#menu a {
		height: 41px;
		padding-left: 5px;
	}

	#menu ul {
		backdrop-filter: blur(1.4px);
		background-color: #44444421;

		width: 35vw;
		right: -27px;
		position: absolute;
		display: none;
		top: 30px;
	}

	#menu ul.sub-menus {
		position: static;
	}

	#menu ul.sub-menus a {
		padding-left: 30px;
	}

	#menu li {
		float: none;
	}

	#menu input,
	#menu label {
		position: absolute;
		display: block;
	}

	#menu input {
		z-index: 4;

	}

	#menu input:checked+label {
		color: white
	}

	#menu input:checked+label:before {
		content: "\00d7"

	}

	#menu input:checked~ul {
		display: block
	}

	#btn-01:hover,
	#btn-02:hover,
	#btn-03:hover,
	#btn-04:hover {
		border-bottom-style: none;
	}

	.number-menu {
		display: none;
	}

}