@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Inconsolata:wght@200;300;400&family=Inter&family=Montserrat:wght@100;400&family=Outfit:wght@300;400;600&display=swap');

* {
	text-transform: uppercase;
	font-family: 'Barlow Condensed';
}

body {
	background-image: url('../assets/home/background-home-desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
}

header {
	margin-top: 40px;
	margin-left: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	display: flex;
	margin: 260px 168px 131px 167px;
	justify-content: space-between;
}

.description {
	width: 444px;
	height: 382px;
}

.title {
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 4.725px;
	color: #D0D6F9;
}

.space {
	font-family: 'Bellefair';
	height: 172px;
	line-height: 172px;
	margin: 0;
	font-size: 150px;
	color: #FFFFFF;
}

.text {
	font-size: 18px;
	line-height: 32px;
	color: #D0D6F9;
	text-transform: none;
}

.circle {
	font-family: 'Bellefair';
	font-size: 32px;
	text-transform: uppercase;
	width: 274px;
	height: 274px;
	border-radius: 50%;
	color: black;
	line-height: 274px;
	text-align: center;
	background: white;
}

.circle:hover {
	cursor: pointer;
	box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.158);
}


/* responsive to tablet */

@media screen and (min-width:768px) and (max-width:1023px) {
	body {
		background-image: url('../assets/home/background-home-tablet.jpg');
		width: 768px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.flex-container {
		margin: 0;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 106px;
	}


	.logo {
		margin-left: 39px;
	}

	.description {
		margin-bottom: 156px;
		text-align: center;

	}

	.title {
		height: 24px;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 3.375px;
	}

	.text {
		height: 112px;
		font-size: 16px;
		line-height: 28px;
	}

	.circle {
		margin-bottom: 90px;
	}

	.number-menu {
		display: none;
	}

}


/* @media screen and (max-width: 800px) {
	#menu {
		position: relative
	}

	#menu ul {
		background: #111;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 3;
		height: auto;
		display: none
	}

	#menu ul.sub-menus {
		width: 100%;
		position: static;
	}

	#menu ul.sub-menus a {
		padding-left: 30px;
	}

	#menu li {
		display: block;
		float: none;
		width: auto;
	}

	#menu input,
	#menu label {
		position: absolute;
		top: 0;
		left: 0;
		display: block
	}

	#menu input {
		z-index: 4
	}

	#menu input:checked+label {
		color: white
	}

	#menu input:checked+label:before {
		content: "\00d7"
	}

	#menu input:checked~ul {
		display: block
	} 

}
	*/