@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

* {
	text-transform: uppercase;
	font-family: 'Barlow Condensed';
}

body {
	background-image: url('../assets/home/background-home-desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
}

header {
	margin-top: 40px;
	margin-left: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	height: 100vh;
	display: flex;
	margin: 260px 168px 131px 167px;
	justify-content: space-between;
}

.description {
	width: 444px;
	height: 382px;
}

.title {
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 4.725px;
	color: #D0D6F9;
}

.space {
	font-family: 'Bellefair', serif;
	height: 172px;
	line-height: 172px;
	margin: 0;
	font-size: 150px;
	color: #FFFFFF;
}

.text {
	font-size: 18px;
	line-height: 32px;
	color: #D0D6F9;
	text-transform: none;
}

.circle {
	font-family: 'Bellefair', serif;
	font-size: 32px;
	text-transform: uppercase;
	width: 274px;
	height: 274px;
	border-radius: 50%;
	color: black;
	line-height: 274px;
	text-align: center;
	background: white;
}

.circle:hover {
	cursor: pointer;
	box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.158);
}


/* responsive to tablet */

@media screen and (min-width:768px) and (max-width:1023px) {
	body {
		background-image: url('../assets/home/background-home-tablet.jpg');
		width: 768px;
	}

	.flex-container {
		margin: 0;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 106px;
	}


	.logo {
		margin-left: 39px;
	}

	.description {
		margin-bottom: 156px;
		text-align: center;

	}

	.title {
		height: 24px;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 3.375px;
	}

	.text {
		height: 112px;
		font-size: 16px;
		line-height: 28px;
	}

	.circle {
		margin-bottom: 90px;
	}

	.number-menu {
		display: none;
	}

}

/* responsive to mobile */

@media screen and (max-width: 767px) {
	body {
		background-image: url('../assets/home/background-home-mobile.jpg');
		width: 320px;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 106px;
		
	}

	.flex-container {
		margin: 24px;
	}


	#img-logo,
	.logo {
		width: 40px;
		height: 40px;
	}


	.description {
		width: 327px;
		height: 276px;
		margin-bottom: 156px;
		text-align: center;


	}

	.title {
		height: 19px;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 2.7px;
	}

	.text {
		font-size: 15px;
		line-height: 25px;
	}

	.circle {
		width: 150px;
		height: 150px;
		left: 113px;
		top: 469px;
		line-height: 150px;
		font-size: 20px;
	}

	.space {
		font-size: 80px;
		line-height: 100px;
	}

	.number-menu {
		display: none;
	}
}