@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Inter&family=Montserrat:wght@100;400&family=Outfit:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Inconsolata:wght@200;300;400&family=Inter&family=Montserrat:wght@100;400&family=Outfit:wght@300;400;600&display=swap');

body {
	background-image: url('../assets/home/background-home-desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
	width: 1440px;
	height: 900px;
}

header {
	margin-top: 40px;
	margin-left: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
main {
	display: flex;
	margin: 260px 168px 131px 167px;
	justify-content: space-between;
}

#menu {
	font-family: 'Barlow Condensed';
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 2.7px;
	color: #FFFFFF;
	background: #ffffff48;
	backdrop-filter: blur(5px);
	text-transform: uppercase;
	width: 50%;
	display: flex;
	align-items: center;
	padding-left: 150px;
}



.title {
	height: 34px;
	text-transform: uppercase;
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 4.725px;
	color: #D0D6F9;
}

.space {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: normal;
	font-size: 150px;
	line-height: 172px;
	/* identical to box height */
	color: #FFFFFF;
}

.description {
	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #D0D6F9;
}

.circle {
	font-family: 'Bellefair';
	font-size: 32px;
	text-transform: uppercase;
	width: 274px;
	height: 274px;
	border-radius: 50%;
	color: black;
	line-height: 274px;
	text-align: center;
	background: white;
}
.circle:hover{
	cursor: pointer;
	box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.158);
}
.description {
	width: 450px;
	height: 382px;
	color: white;
}

#menu ul,
#menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}

#menu ul {
	width: 100%;
}

#menu li {
	float: left;
	display: inline;
	position: relative;
}

#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}

#menu li a:hover {
	color: #d0d6f9;
	border-bottom: #8b8d92;
	border-bottom-style: solid;
	transition: 0.1s
}

/* @media screen and (max-width: 800px) {
	#menu {
		position: relative
	}

	#menu ul {
		background: #111;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 3;
		height: auto;
		display: none
	}

	#menu ul.sub-menus {
		width: 100%;
		position: static;
	}

	#menu ul.sub-menus a {
		padding-left: 30px;
	}

	#menu li {
		display: block;
		float: none;
		width: auto;
	}

	#menu input,
	#menu label {
		position: absolute;
		top: 0;
		left: 0;
		display: block
	}

	#menu input {
		z-index: 4
	}

	#menu input:checked+label {
		color: white
	}

	#menu input:checked+label:before {
		content: "\00d7"
	}

	#menu input:checked~ul {
		display: block
	} 

}
	*/