@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

* {
    text-transform: uppercase;
    font-family: 'Barlow Condensed';
}

body {
    background-image: url('../assets/technology/background-technology-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;

}

header {
    margin-top: 40px;
    margin-left: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 90px auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.terminology {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
}

.menu-technology a {
    text-align: center;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 32px;
    line-height: 80px;
    font-family: 'Bellefair', serif;
    display: inline-block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 0.2px solid #ffffffa8;
    box-sizing: border-box;
    margin-bottom: 32px;
    margin-right: 80px;
}

.menu-technology a:hover {
    border: 1px solid white;
    box-sizing: border-box;
    cursor: pointer;
}

.menu-technology ul,
.menu-technology li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}

.technology-information {
    display: flex;
    margin-left: 167px;
}

.technology-image {
    width: 515px;
    margin-bottom: 101px;
}

.name-technology {
    font-family: 'Bellefair', serif;
    width: 417px;
    display: inline;
    font-style: normal;
    font-weight: normal;
    line-height: 64px;
    font-size: 56px;
    color: #FFFFFF;
}

.description-technology {
    width: 444px;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    text-transform: none;
}

@media screen and (min-width:767px) and (max-width:1023px) {
    body {
        background-image: url('../assets/technology/background-technology-tablet.jpg');
    }

    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 300px 60px 19px 46px 140px;
        grid-auto-flow: row;
        grid-template-areas:
            "technology-image"
            "menu-technology"
            "terminology"
            "name-technology"
            "description-technology";
    }

    .technology-information {
        flex-direction: column;
        text-align: center;
        margin-right: auto;
    }

    .menu-technology a {
        margin-bottom: 32px;
        margin-right: 16px;
    }

    .technology-image {
        grid-area: technology-image;
        width: 768px;
        margin-bottom: 0;
    }

    .menu-technology {
        grid-area: menu-technology;
        margin-top: 46px;
        margin-bottom: 44px;
        height: 60px;
    }

    .name-technology {
        grid-area: name-technology;
        font-size: 40px;
        line-height: 46px;
    }

    .terminology {
        grid-area: terminology;
    }

    .description-technology {
        grid-area: description-technology;
        font-size: 16px;
        line-height: 28px;
    }

    .menu-technology li {
        display: inline;
        padding-right: 24px;
    }

    #image {
        width: 768px;
    }
}

/*responsive for mobile*/

@media screen and (max-width: 767px) {

    body {
        background-image: url('../assets/technology/background-technology-mobile.jpg');
    }

    .container {
        display: grid;
        width: 100vw;
        grid-template-columns: 100vw;
        grid-template-rows: 170px 40px 220px;
        grid-auto-flow: row;
        grid-template-areas:
            "technology-image"
            "menu-technology"
            "infos";
        margin-top: 0;
        text-align: center;
    }


    
    
    .technology-image,#image,.description-technology {
        margin: 0 auto;
        grid-area: technology-image;
        font-size: 15px;
        line-height: 25px;
        width: 100vw;
    }
    
    .menu-technology {
        grid-area: menu-technology;
    }

    .infos {
        grid-area: infos;
    }

    .name-technology {
        font-size: 24px;
        line-height: 28px;
    }
    
    .menu-technology a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }


    .menu-technology ul li {
        padding-right: 16px;
    }


    .technology-information {
        flex-direction: column;
        margin: 0 auto;
    }


    .menu-technology li {
        display: inline;
        padding-right: 24px;
    }

}